<div class="code-view-container">
  <div class="code-header">
    <h2>Vista de Código</h2>
    <p>Visualiza tu especificación OpenAPI en formato YAML o JSON</p>
  </div>

  <mat-tab-group [(selectedIndex)]="selectedIndex" class="code-tabs">
    <!-- Pestaña YAML -->
    <mat-tab label="YAML">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">data_object</mat-icon>
        YAML
      </ng-template>
      <div class="tab-content">
        <div class="code-actions">
          <button mat-icon-button matTooltip="Copiar YAML" (click)="copyToClipboard('yaml')">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <pre class="code-block"><code [innerHTML]="highlightedYAML"></code></pre>
      </div>
    </mat-tab>

    <!-- Pestaña JSON -->
    <mat-tab label="JSON">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">data_object</mat-icon>
        JSON
      </ng-template>
      <div class="tab-content">
        <div class="code-actions">
          <button mat-icon-button matTooltip="Copiar JSON" (click)="copyToClipboard('json')">
            <mat-icon>content_copy</mat-icon>
          </button>
        </div>
        <pre class="code-block"><code [innerHTML]="highlightedJSON"></code></pre>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
