<div class="code-view-container">
  <div class="code-header">
    <h2>Vista de Código</h2>
    <div class="code-actions">
      <button mat-stroked-button (click)="copyToClipboard(selectedIndex === 0 ? 'yaml' : 'json')">
        <mat-icon>content_copy</mat-icon>
        Copiar
      </button>
      <button mat-stroked-button (click)="downloadFile(selectedIndex === 0 ? 'yaml' : 'json')">
        <mat-icon>download</mat-icon>
        Descargar
      </button>
    </div>
  </div>

  <mat-tab-group [(selectedIndex)]="selectedIndex" class="code-tabs">
    <mat-tab label="YAML">
      <div class="tab-content">
        <div class="code-editor-container">
          <div class="code-editor-header">
            <div class="file-info">
              <mat-icon>description</mat-icon>
              <span>openapi.yaml</span>
            </div>
            <div class="editor-actions">
              <button (click)="copyToClipboard('yaml')">Copiar</button>
            </div>
          </div>
          <pre class="code-block"><code [innerHTML]="highlightedYAML"></code></pre>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="JSON">
      <div class="tab-content">
        <div class="code-editor-container">
          <div class="code-editor-header">
            <div class="file-info">
              <mat-icon>description</mat-icon>
              <span>openapi.json</span>
            </div>
            <div class="editor-actions">
              <button (click)="copyToClipboard('json')">Copiar</button>
            </div>
          </div>
          <pre class="code-block"><code [innerHTML]="highlightedJSON"></code></pre>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
