<mat-toolbar color="primary">
  <span style="font-weight: bold; margin-right: 32px;">OpenAPI Editor</span>
  <a mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a mat-button [routerLink]="['/tags']" routerLinkActive="active">Tags</a>
  <a mat-button [routerLink]="['/endpoints']" routerLinkActive="active">Endpoints</a>
  <a mat-button [routerLink]="['/components']" routerLinkActive="active">Componentes</a>
  
  <a mat-button [routerLink]="['/code-view']" routerLinkActive="active">Vista Código</a>
  
  <span class="spacer"></span>
  <a mat-button class="toolbar-action" (click)="fileInput.click()" matTooltip="Importar proyecto">
    <mat-icon>upload_file</mat-icon>
    Importar
    <input #fileInput type="file" accept=".yml,.yaml,.json" style="display:none" (change)="onFileSelected($event)" />
  </a>
  <a mat-button class="toolbar-action" (click)="loadSavedData()" matTooltip="Cargar datos guardados">
    <mat-icon>restore</mat-icon>
    Cargar
  </a>
  <a mat-button class="toolbar-action" (click)="clearSavedData()" matTooltip="Limpiar datos guardados">
    <mat-icon>delete_sweep</mat-icon>
    Limpiar
  </a>
  <a mat-button class="toolbar-action" (click)="exportToYAML()" matTooltip="Descargar como YAML">
    <mat-icon>download</mat-icon>
    YAML
  </a>
  <a mat-button class="toolbar-action" (click)="exportToJSON()" matTooltip="Descargar como JSON">
    <mat-icon>download</mat-icon>
    JSON
  </a>
  <a mat-button class="toolbar-action" (click)="nuevaApi()" matTooltip="Crear nueva especificación">
    <mat-icon>add</mat-icon>
    Nueva
  </a>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<!-- footer removed for cleaner layout; add back if desired -->