<mat-toolbar color="primary">
  <span style="font-weight: bold; margin-right: 32px;">OpenAPI Editor</span>
  <a mat-button [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a mat-button [routerLink]="['/tags']" routerLinkActive="active">Tags</a>
  <a mat-button [routerLink]="['/endpoints']" routerLinkActive="active">Endpoints</a>
  <a mat-button [routerLink]="['/components']" routerLinkActive="active">Componentes</a>
  
  <a mat-button [routerLink]="['/code-view']" routerLinkActive="active">Vista Código</a>
  
  <span class="spacer"></span>
  <a mat-button class="toolbar-action" (click)="fileInput.click()">
    <mat-icon>upload_file</mat-icon>
    Importar YML/YAML/JSON
    <input #fileInput type="file" accept=".yml,.yaml,.json" style="display:none" (change)="onFileSelected($event)" />
  </a>
  <a mat-button class="toolbar-action" (click)="nuevaApi()" >
    <mat-icon>add</mat-icon>
    Nueva API
  </a>
</mat-toolbar>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <span>© 2025 OpenAPI Editor</span>
</footer>