<div class="tags-container">
  <div class="header">
    <h2>Tags (<span>{{ tags.length}}</span>)</h2>
    <button mat-raised-button color="primary" (click)="openAddTagDialog()">
      <mat-icon>add</mat-icon> Añadir Tag
    </button>
  </div>

  <div *ngIf="tags.length === 0" class="no-tags-message">
    <mat-card>
      <mat-card-content>
        <p>No hay tags definidos en el archivo OpenAPI.</p>
        <p>Puedes añadir uno haciendo clic en el botón "Añadir Tag".</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="tags-grid" *ngIf="tags.length > 0">
    <mat-card class="tag-card" *ngFor="let tag of tags; let i = index">
      <mat-card-content class="tag-content">
        <span *ngIf="!editIndexMap[i]" matTooltip="{{ tag.name }}{{tag.description ? ' (' + tag.description + ')' : ''}}" matTooltipShowDelay="400">
          <span class="tag-title">{{ tag.name }}</span>
          <span class="desc" *ngIf="tag.description">({{ tag.description }})</span>
        </span>

        <form *ngIf="editIndexMap[i]" (ngSubmit)="saveEdit(i)">
          <mat-form-field appearance="outline" class="tag-field">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="editTag.name" name="editName{{i}}" required />
          </mat-form-field>
          <mat-form-field appearance="outline" class="tag-field">
            <mat-label>Descripción</mat-label>
            <input matInput [(ngModel)]="editTag.description" name="editDesc{{i}}" placeholder="Descripción" />
          </mat-form-field>
          <div class="edit-actions-buttons">
            <button mat-icon-button color="primary" type="submit">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" type="button" (click)="cancelEdit(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions class="tag-actions" *ngIf="!editIndexMap[i]">
        <button mat-icon-button color="primary" (click)="startEdit(i)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="deleteTag(i)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>